<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheers for Peers</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="./../main.js"></script>
</head>
<body class="cheers">
	<div class="back">
		<div class="title-image">
			<div class="title-double">
				<p class="title">Cheers for peers!</p>
				<p class="emojis">🙌🍐</p>
			</div>
		</div>

		<p class="item">Acérquense a reconocer a sus peers!</p>
	</div>
</body>
</html>
