<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="cto.css" rel="stylesheet" type="text/css">
    <title>Update EX</title>
</head>
<body>
	<div class="back">
		<div class="title-image">
			<div class="title-double">
				<p class="title"">CTO Circle</p>
			</div>
		</div>

		<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 80%; justify-content: space-around; margin-bottom: 30px;">
			<div class="cto-guy">
				<img class="cto-photo" src="carl.png"/>
				<p class="cto-name">Carl Grin</p>
				<p class="cto-title">Director, Solution Delivery</p>
			</div>

			<div class="cto-guy">
				<img class="cto-photo" src="scott.png"/>
				<p class="cto-name">Scott Hermes</p>
				<p class="cto-title">Director, Solution Delivery</p>
			</div>

			<div class="cto-guy">
				<img class="cto-photo" src="chris.png"/>
				<p class="cto-name">Chris Weiland</p>
				<p class="cto-title">Director, Solution Delivery</p>
			</div>
		</div>

		<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 80%; justify-content: space-around;">
			<div class="cto-guy">
				<img class="cto-photo" src="ryan.png"/>
				<p class="cto-name">Ryan Maguire</p>
				<p class="cto-title">Director, Solution Delivery</p>
			</div>

			<div class="cto-guy">
				<img class="cto-photo" src="mike.png"/>
				<p class="cto-name">Mike Koleno</p>
				<p class="cto-title">VP, Solution Delivery</p>
			</div>

			<div class="cto-guy">
				<img class="cto-photo" src="henry.png"/>
				<p class="cto-name">Henry Oyuela</p>
				<p class="cto-title">VP, Solution Delivery</p>
			</div>
		</div>
	</div>
</body>
</html>
