<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="rocks.css" rel="stylesheet" type="text/css">
    <title>2018 Q1 Rocks</title>
</head>
<body>
	<div class="back">
		<p class="title">Eng Circle 2018 Q1 Rocks</p>
		<a class="item">1- Build Cloud Native team, PCF + GCP </a>
		<a class="item">2- Align training processes for Cloud Native trainees in BA </a>
		<a class="item">3- Core Skills - Become a FullStack developer </a>
		<a class="item last-rock">4- Promote Solstice in Argentina </a>

		<p class="title">Muchas gracias a:</p>
		<a class="item names">Adrián Mouly - Adán Carreño - Agustín Gimeno
			 - Brian Grau
			 - David Assen
			 - Eric Frick
			 - Esteban Butti
			 - Fernando Mirabile
			 - Gonzalo Lomba
			 - Javier Montagna
			 - Julia Ansaldi
			 - Leo D'Antoni
			 - Leonardo Rossi
			 - Luciano Conde
			 - Nacho Brik
			 - Nicolas Amorosino
			 - Nicolas Jeremias
			 - Victor Rodriguez</a>
	</div>
</body>
</html>
