
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>2018 Q1 Rocks</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="./../main.js"></script>
</head>
<body class="thanks">
<div class="back">
	<p class="title">Muchas gracias a:</p>
	<span class="item names">
		<ul><li>Adrián Mouly</li> <li>Adán Carreño</li><li>Agustín Gimeno</li>
			<li>Brian Grau</li>
			<li>David Assen     </li>
			<li>Eric Frick      </li>
			<li>Esteban Butti   </li>
		<li>Fernando Mirabile</li>
			<li>Gonzalo Lomba   </li>
			<li>Javier Montagna </li>
			<li>Julia Ansaldi   </li>
			<li>Leo D'Antoni    </li>
			<li>Leonardo Rossi  </li>
			<li>Luciano Conde   </li>
			<li>Nacho Brik      </li>
		<li>Nicolas Amorosino </li>
			<li>Nicolas Jeremias</li>
			<li>Victor Rodriguez</li></span>
</div>
</body>
</html>
