<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="./../main.js"></script>
    <title>Update Marketing</title>
</head>
<body class="marketing">
	<div class="back">
		<div class="title-image">
			<div class="title-double">
				<p class="title">Marketing Updates</p>
				<p class="item">por la genia de Julia Ansaldi</p>
			</div>
			<img class="julia" src="https://instagram.faep11-1.fna.fbcdn.net/vp/34b4fd3946e8f2a24b9357cffe6eba16/5C1DB428/t51.2885-15/sh0.08/e35/s640x640/29404021_2015594182094677_1108940399545679872_n.jpg"/>
		</div>

		<p class="item">El "ribbon cutting" con el Alcalde de Chicago salió excelente!</p>
		<div class="photos-mayor">
			<img class="photo-mayor" src="mayor1.png"/>
			<img class="photo-mayor" src="mayor2.png"/>
			<img class="photo-mayor" src="mayor3.png"/>
		</div>

	</div>
</body>
</html>
