<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="update_ex.css" rel="stylesheet" type="text/css">
    <title>Update EX</title>
</head>
<body>
	<div class="back">
		<div class="title-image">
			<p class="title">EX Updates por la gran Agustina Aldama </p>
			<img class="agus" src="agus.jpg"/>
		</div>

		<div style="display: flex; flex-direction: row;">
			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
				<a class="item">1- Nolan McConnell (IT guy) nos estará visitando la semana próxima!</a>
				<div class="title-image">
					<img class="nolan" src="nolan.png"/>
					<p class="item">Hola Nolan!</p>
				</div>
				<a class="item chiste">No LAN (No red de área local jaja entienden? Porque es de IT)</a>
			</div>

			<p class="item">2- New Openings! Mas info será enviada pronto!</p>
		</div>

	</div>
</body>
</html>
