<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="update_social.css" rel="stylesheet" type="text/css">
    <title>Update EX</title>
</head>
<body>
	<div class="back">
		<div class="title-image">
			<div class="title-double">
				<p class="title">Social Comitee Updates</p>
				<p class="item">por el capo de Andres Cappiello </p>
			</div>
			<img class="agus" src="agus.jpg"/>
		</div>

		<a class="item">1- Después de la weekly habrá cerveza y pizza en Mario para festejar Beer Day!</a>
		<img class="nolan" src="pizza.png"/>
	</div>
</body>
</html>
