<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="update_mkt.css" rel="stylesheet" type="text/css">
    <title>Update EX</title>
</head>
<body>
	<div class="back">
		<div class="title-image">
			<div class="title-double">
				<p class="title">Marketing Updates</p>
				<p class="item">por la genia de Julia Ansaldi</p>
			</div>
			<img class="agus" src="https://lh3.googleusercontent.com/U7Ux4-FzFwZniMzg4DVgNDPrKj6aDx_eaBYl61GqovaFirxNHb9WdC-9xaZh5QNE7I6GiqxXUai-ThqxAoJl6eN4M-1bWmV0_MDuO52hc3zWgCPKhBp_xEvJi2ui0VMfYlBpqe9KP8QPiSEDnqlQ3T-WTO6cpGofiGj0CMFlmgPeaQfpPgjcBWBjH5qcShyZqqHNfY_1I9xlt4Jwm6FiraLRSw7Tdgtw8vf8ilzzPBasU2g6cY90NeIc6aVaeD1sAtprxxOpOXusIJ3pkoS_x1KnkukBYVJ3TsHq4BY7LEhKhl8fdR2ufJ6L5sCC8A2OFwhOi6dKSsVyB109zNKk4eUw97k5m_Ebu9Jod1uSqFtKk6iNZpa-UbI_gBOGhIht11FN4xe7XpxpaB1OffGHQXzwverqHZBF1RXPNFgQ-pjIdSmU0M7iQWq1NhVHtbeCdjDTDbiNPMHegxzcOK-L6Awzm9O8bNlYil6WImfRIIYXlMh72RDldyhqH0XW4aA_KEmDYGNB_JnCCq75bZjNvlEF1pkdMLxfKfk9bZEghLa5FsFOMVgzebOrtCUcCDul5-Of66fQckqw4cCtkDv8iW4uJt9yiQjxBG8wLPpfs1uEUpgEBJrJV2GvZxJNzBk=w606-h808-no"/>
		</div>

		<a class="item">El "ribbon cutting" con el Alcalde de Chicago salió excelente!</a>
		<div class="photos-mayor">
			<img class="photo-mayor" src="mayor1.png"/>
			<img class="photo-mayor" src="mayor2.png"/>
			<img class="photo-mayor" src="mayor3.png"/>
		</div>

	</div>
</body>
</html>
