/* =========================================
  	Scroll bar styles for jQuery Scroll Path
  	      (http://joelb.me/scrollpath)
   ========================================= */

.sp-scroll-bar {
	position: fixed;
	z-index: 9999;
	right: 0;
	top: 5%;
	width: 10px;
	height: 90%;
	border-radius: 5px;
	&:hover {
		background: white;
		background: rgba(255, 255, 255, 0.1);
	}
	.sp-scroll-handle {
		position: absolute;
		width: 100%;
		height: 50px;
		border-radius: inherit;
		background: gray;
		background: rgba(0, 0, 0, 0.7);
		&:hover {
			background: black;
		}
	}
}

/* === CSS RESET === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background: url(./assets/classy_fabric.png);
	color: white;
	font-size: 20px;
	font-family: "Terminal Dosis", sans-serif;
	text-shadow: 1px 1px 0 transparent, 2px 2px 0 #101010;
	overflow: hidden;
}

h1 {
	font-size: 75px;
	font-weight: bold;
	line-height: 1.5em;
	text-shadow: 2px 2px 0 transparent, 4px 4px 0 #101010;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 2px dotted;
	transition: color 0.2s;
	&:visited {
		color: white;
		text-decoration: none;
		border-bottom: 2px dotted;
		transition: color 0.2s;
	}
	&:hover {
		color: #AAA;
	}
	&:active {
		color: lightblue;
	}
}

.big {
	display: block;
	font-size: 45px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-shadow: 2px 2px 0 transparent, 4px 4px 0 #101010;
}

.wrapper {
	a.slides {
		position: absolute;
		display: block;
		z-index: 9999;
		background: $blue-color;
		padding: 10px;
		border: 1px solid $neutral-gray;
		text-align: center;
		width: 400px;
		.upside-down {
			transform: rotate(180deg) translateY(3em);
			position: relative;
			top: 153px;
		}

		&.presentation {
			width: 700px;
		}
		&.slide-4 {
			transform: rotate(-90deg) translateY(2.5em);
		}
		&.slide-5, &.slide-6, &.slide-8 {
			transform: rotate(90deg) translateX(50px);
		}
	}
}

.settings, nav {
	position: fixed;
	z-index: 9999999;
	bottom: 0;
	right: 0;
	background: rgba(10, 10, 10, 0.5);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}

.settings {
	right: 0;
	padding: 10px 20px;
	border-radius: 10px 0 0 0;
	a {
		border: none;
	}
}

nav {
	left: 0;
	border-radius: 0 10px 0 0;
	li {
		float: left;
	}
	a {
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: none;
		text-align: center;
		transition: 0.25s;
	}
	li:last-child a {
		border-radius: 0 10px 0 0;
	}
	a:hover {
		background: rgba(15, 15, 15, 0.5);
	}
}


.highlight {
	animation: highlight 0.2s alternate 6;
}

@keyframes point-down {
	from {
		top: 0;
	}

	to {
		top: 5px;
	}
}


@keyframes highlight {
	to {
		background: lightblue;
	}
}

.presenter-face {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	width: 32px;
	height: 32px;
	z-index: 9999;
	> img {
		display: none;
	}
	&.butti {
		> img.butti{
			display: block;
		}
	}
	&.victor {
		> img.victor{
			display: block;
		}
	}
	&.agus {
		> img.agus{
			display: block;
		}
	}
	&.cappi {
		> img.cappi{
			display: block;
		}
	}
	&.julia {
		> img.julia{
			display: block;
		}
	}
}

body {
	&.ctos {
		background: $blue-color;
		margin: 0;
		padding: 20px 0;
		.title {
			@include flexbox();
			@include flex-flow(row nowrap);
			@include justify-content(center);
			@include align-items(center);
			@include font($font-bold, $bigger-font-size);
		}
		.ctos {
			@include flexbox();
			@include flex-flow(row nowrap);
			@include justify-content(space-between);
			@include align-items(center);
			padding: 0 30px;
			margin: 100px auto;
			width: 800px;
			.cto-guy {
				@include flexbox();
				@include flex-flow(column nowrap);
				@include justify-content(center);
				@include align-items(center);
				width: 200px;
				.cto-name, .cto-title {
					text-align: center;
				}

				img {
					width: 150px;
					height: 150px;
					border-radius: 100px;
					border: 2px solid $white-color;
					margin: 10px;
					border: 1px solid $white-color
				}
			}

		}
	}
	&.cheers, &.thanks, &.rocks, &.ex, &.social, &.marketing, &.generales {
		background: $yellow-color;
		.back {
			display: block;
			width: 700px;
			margin: 100px auto;
			text-align: center;
			.title {
				@include font($font-bold, $bigger-font-size);
				text-transform: uppercase;
				font-size: 60px;
				margin-bottom: 30px;
			}
			.title-image {
				.emojis {
					font-size: 100px;
					margin: 50px 0;
					display: block;
					text-align: center;
					letter-spacing: 20px;
				}
			}
			.item {
				font-size: 50px;
				&.names {
					font-size: 20px;
					ul li {
						margin: 15px 0;
					}
				}
			}
		}
	}
	&.thanks {
		background: $blue-color;
	}
	&.rocks {
		background: $red-color;
		.back .item {
			font-size: 30px;
			margin: 20px 0;
		}
	}
	&.ex, &.generales {
		.back {
			@include flexbox();
			@include flex-flow(column nowrap);

		}
		.agus {
			width: 200px;
			height: 200px;
			position: absolute;
			right: 200px;
			top: 100px;
		}
		.title-image img {
			width: 200px;
			border-radius: 100px;
			border: 3px solid $white-color;
			margin-bottom: 10px;
		}
		.back p.item {
			font-size: 30px;
		}
	}
	&.social {
		background: #f2d465;
		.title-image {
			p.item {
				font-size: 20px;
				margin-bottom: 10px;
			}
			img {
				border-radius: 100px;
				border: 3px solid $white-color;
			}
		}
		.nolan {
			width: 200px;
		}
	}
	&.marketing {
		background-color: $edit-blue-color;
		width: 100%;
		margin: 0;
		.back {
			width: 100%;
		}
		.title-image {
			margin-bottom: 100px;
		}
		p.item {
			margin-bottom: 100px;
		}
		.julia {
			border-radius: 100px;
			border: 3px solid $white-color;
			width: 200px;
			height: 200px;
			position: absolute;
			right: 200px;
			top: 100px;
		}
		.photos-mayor {
			img {
				width: 400px;
				border: 5px solid $white-color;
				border-radius: 10px;
				margin: 0 10px;
			}
		}

	}
	&.generales {
		background: $charcoal-color;
		p.title {
			color: $yellow-color;
		}
		.om {
			width: 100%;
			@include flexbox();
			@include justify-content(center);
			@include flex-flow(column nowrap);
			text-align: center;
			.title {
				@include font($font-bold, $bigger-font-size);
				text-transform: uppercase;
				font-size: 60px;
				margin-bottom: 30px;
			}
			img {
				width: 600px;
			}
			.realidad, .expectativa {
				display: none;
				position: relative;
				label {
					position: absolute;
					transform: rotate(-45deg);
					font-size: 30px;
					font-weight: bold;
					top: 100px;
					left: 40%;
					color: $yellow-color;
				}
				span.arrow {
					font-size: 30px;
					font-weight: bold;
					position: absolute;
					transform: rotate(-45deg);
					font-size: 30px;
					font-weight: bold;
					top: 100px;
					left: 40%;
					color: $yellow-color;
				}
			}
			.show {
				display: block;
			}
		}
	}
}
